<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<body>
  <!-- <ul>
    <li id='oldList' onclick="remove()">落ち着く</li>
    <li id='oldList'><a onclick="remove()">元気になる</a></li>
  </ul>
  <input type="button" value= '削除' onclick="remove()"> -->
  <button id="button3"></button>
  <script src="js/elemnt_id.js"></script>
</body>
</html>